<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2770608993-pnffshjnhngcjksij2ii8j78rbbs7v0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2770608993-pnffshjnhngcjksij2ii8j78rbbs7v0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDbo3Si4FW_8z97HXtFBxByGYZUKztkIaA</string>
	<key>GCM_SENDER_ID</key>
	<string>2770608993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodSavior</string>
	<key>PROJECT_ID</key>
	<string>ileftover</string>
	<key>STORAGE_BUCKET</key>
	<string>ileftover.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2770608993:ios:d90571bb139dc3c8635b20</string>
	<key>DATABASE_URL</key>
	<string>https://ileftover.firebaseio.com</string>
</dict>
</plist>